<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" (ngModelChange)="searchTitle()"/>
            <!-- div class="input-group-append">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
                            dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="searchTitle()">Title</button>
                            <button ngbDropdownItem>Description</button>
                        </div>
                    </div>

                </div>
            </div -->
        </div>
    </div>
</div>
<h4>Movies List</h4>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let movie of movies; let i = index"
                [class.active]="i == currentIndex" (click)="setActiveMovie(movie, i)">
                <b>{{ movie.title }}</b> ({{movie.year}})
                <div class="right">
                    {{movie.description}}
                </div>
            </li>
        </ul>

        <!-- button class="m-3 btn btn-sm btn-danger" (click)="removeAllMovies()">
            Remove All
        </button -->
    </div>
    <div class="col-md-6">
        <div *ngIf="currentMovie">
            <h4>Movie</h4>
            <!-- <img src="" class="rounded mx-auto d-block" alt=""> -->
            <div>
                <label><strong>Title:</strong></label> {{ currentMovie.title }}
            </div>
            <div>
                <label><strong>Studio:</strong></label>
                {{ currentMovie.description }}
            </div>
            <div>
                <label><strong>Year:</strong></label>
                {{ currentMovie.year }}
            </div>
            <div>
                <label><strong>Watched:</strong></label>
                {{ currentMovie.like }} times
            </div>


            <a class="badge badge-warning" routerLink="/movies/{{ currentMovie.id }}">
                Edit
            </a>
        </div>

        <!-- div *ngIf="!currentMovie">
            <br />
            <p>Please click on a Tutorial...</p>
        </div -->
    </div>
</div>